body {
    background-color: #f7f7f7;
    background-image: url(../assets/resource-database-rkQdROHIwFk-unsplash.jpg);
}


.boxContainer{
    background-color:#f7f7f7;
    /* display: grid; */
    padding: 10px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    margin-top: 8%;
    border: 1px solid;
    border-radius: 100px;
}